.label {
  display: block;
  margin-bottom: 4px;
  font-weight: 550;
  font-size: 14px;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.button {
  height: 40px;
}

.input {
  height: 45px !important;
  font-size: 16px;
}



